# [submodule "madi-plg-base-class"]
# 	path = libs/plugins/madi-plg-base-class
# 	url = https://github.com/nasa-madi/madi-plg-base-class.git

# [submodule "madi-plg-semantic-scholar"]
# 	path = libs/plugins/madi-plg-semantic-scholar
# 	url = https://github.com/nasa-madi/madi-plg-semantic-scholar.git
